schema/esad.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://auckland.ac.nz"
	xmlns="http://auckland.ac.nz"
	elementFormDefault="qualified">

<xs:element name="event">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="organiser" type="xs:string"/>
      <xs:element name="start" type="xs:dateTime"/>
      <xs:element name="end" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>